.profile__edit-icon {
  width: 10px;
  height: 10px;
  object-position: center;
  object-fit: fill;
}

@media screen and (max-width: 540px) {
  .profile__edit-icon {
    width: 7.5px;
    height: 7.5px;
  }
}
