.profile__add-btn {
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .profile__add-btn {
    width: 220px;
    margin: 28px 0 0 0;
    justify-self: center;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 540px) {
  .profile__add-btn {
    width: 282px;
    margin: 0;
  }
}
