.profile__btn_action_add {
  width: 150px;
  height: 50px;
  margin: 0 0 0 auto;
  padding: 0;
  background: url('../../../../images/add-icon.svg') center no-repeat;
  background-size: 22px 22px;
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .profile__btn_action_add {
    width: 282px;
    margin: 28px 0 0 0;
    justify-self: center;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 540px) {
  .profile__btn_action_add {
    background-size: 16px 16px;
    margin: 0;
  }
}
