.profile__add-icon {
  width: 22px;
  height: 22px;
  object-position: center;
  object-fit: fill;
}

@media screen and (max-width: 540px) {
  .profile__add-icon {
    width: 16px;
    height: 16px;
  }
}
