.popup__btn-submit {
  width: 100%;
  padding: 12px 0;
  background: #000;
  border-radius: 2px;
  border: 1px solid transparent;
  transition: background-color .24s;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.popup__btn-submit:hover {
  background: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 540px) {
  .popup__btn-submit {
    padding: 14px 0;
    font-size: 14px;
    line-height: 17px;
  }
}
