.card__btn {
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: none;
  background: url('../../../images/fav-icon.svg') center no-repeat;
  background-size: 22px 19px;
  cursor: pointer;
  transition: opacity .24s;
}

.card__btn:hover {
  opacity: 0.5;
}
