.card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-flow: column;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  transition: transform .24s;
}

.card:hover {
  transform: scale(1.02);
}
