.popup__btn_action_save {
  width: 100%;
  height: 50px;
  margin: 47px 0 0 0;
  background: #000;
  border-radius: 2px;
  transition: background-color .24s;
}

.popup__btn_action_save:hover {
  background: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 540px) {
  .popup__btn_action_save {
    height: 46px;
    margin-top: 44px;
  }
}
